<!DOCTYPE html>
<html>
  <head>
    <title>PEXCEL</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
      <script>
        window.currentUser = {
            "id": <%= current_user.id %>,
            "username": "<%= current_user.username%>",
            "img_url": "<%= current_user.img_url %>"
        };
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
