<!DOCTYPE html>
<html>
  <head>
    <title>PEXCEL</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <% if current_user %>
      <script>
        window.currentUser = {
            "id": <%= current_user.id %>,
            "username": "<%= current_user.username%>",
            "img_url": "<%= current_user.img_url %>"
        };
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
    <script>
        let _URL = window.URL || window.webkitURL;
        $("#file").change(function(e) {
            let file, img;

            console.log("Hellloooooo");

            if ((file = this.files[0])) {
                img = new Image();
                img.onload = function() {
                    alert(this.width + " " + this.height);
                };
                img.onerror = function() {
                    alert( "not a valid file: " + file.type);
                };
                img.src = _URL.createObjectURL(file);


            }
        });
    </script>
  </body>
</html>
