<!DOCTYPE html>
<html>
  <head>
    <title>PEXCEL</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">


    <%= javascript_include_tag 'application' %>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">


    <% if current_user %>
      <script>
        window.currentUser = {
            "id": <%= current_user.id %>,
            "username": "<%= current_user.username%>",
            "img_url": "<%= current_user.img_url %>",
            "number_followee": <%= Follow.where("followee_id = ?",current_user.id).count%>,
            "number_followers": <%= Follow.where("follower_id = ?",current_user.id).count%>
        };

      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>

  </body>
</html>
